body{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header img{
    width: 120px;
    height: auto;
    padding-left: 15px;
}

#header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 15px;
    padding-top: 15px;
}

#header ul li{
    margin-right: 20px;
}

#header ul li a{
    font-size: 1.8em;
    text-decoration: none;
    color: black;
}

#title{
    margin-left: 5%;
}

h1{
    font-size: 2.4em;
    font-weight: lighter;
    color: rgb(214, 57, 57);
}

hr{
    width: 100%;
}

h2{
    font-weight: lighter;
    font-size: 1.6em;
    margin-bottom: 30px;
}

#searchContainer{
    margin-left: 5%;
}

#singleSearchBox{
    display: grid;
    grid-template-columns: 200px 400px;
    margin-bottom: 8px;
}
label{
    font-size: 1.2em;
    
}
#advancedSearchField{
    color:rgb(151, 151, 151);
}

#submitBtn{
    background-color: rgb(101, 142, 255);
    color: white;
    border-style: none;
    width: 130px;
    height: 25px;
    border-radius: 2px;
    margin-top: 20px;
}